#d1{
    box-shadow: 2px 2px 2px 2px;
    background-color: yellowgreen;
    width: 750px;
    height: 900px;
    margin-left: 250px;
    color:red;}
#b1{
    background-color: green;
    font-size: 20px;
    font-style: lucida;
    border-radius: 10px;
    margin-left: 50px;
}
#b2{
    background-color:yellow;
    font-size: 20px;
    font-style: lucida;
    border-radius: 10px;
    margin-left: 30px;
}
#b3{
    background-color:red;
    font-size: 20px;
    font-style: lucida;
    border-radius: 10px;
    margin-left: 30px;
}
